.main-title{
  margin: 20px 0;
  @media (max-width: 767px) {
    text-align: center;
  }
  h1{
    color: var(--main-red);
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  p{
    text-transform: capitalize;
    color: var(--text-color-black);
    line-height: 1.8;
  }
}