.mainbtn2{
  border: none;
  border: 2px solid var(--main-red);
  background-color: transparent;
  outline: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--main-red);
  user-select: none;
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 10px 0 var(--main-red);
  }
}